.Navbar {
	display: flex;
	width: 100%;
	height: var(--navbar-height);
	align-items: center;
	justify-content: flex-end;
	padding: 0 20px;
	background-color: var(--bg-color-inverted);
}

.links {
	display: flex;
	gap: 20px;
}
