.Sidebar {
	position: relative;
	width: var(--sidebar-width);
	height: calc(100vh - var(--navbar-height));
	background-color: var(--bg-color-inverted);
	transition: width 300ms ease-in-out;

	&.collapsed {
		width: var(--sidebar-width-collapsed);
	}
}

.switchers {
	display: flex;
	align-items: center;
	gap: 10px;
}
